<div class="container mt-4">
  <h2 class="text-center mb-4">Product List</h2>

  <!-- Display error message if exists -->
  <div class="alert alert-danger">
  </div>

  <!-- Make the table responsive -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>
           
          </td>
         
          <td>
            <button class="btn btn-primary btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="alert alert-info">
  </div>

</div>

