<!-- footer -->
<div class="bg-primary2">
  <!-- footer section start -->
  <footer class="footer-section pt-120">
    <div class="bg-banner position-absolute bottom-0 start-0 w-100 h-100 z-n1 d-none d-sm-block">
      <img class="w-100 h-100" src="assets/images/footer-bg.png" alt="bg banner">
    </div>
    <div class="position-absolute top-40 left-0 translate-middle-y z-n1 d-none d-lg-block">
      <img class="max-w-200px w-100" src="assets/images/cat-vector-2.png" alt="footer vector">
    </div>
    <div class="position-absolute top-15 right-0 z-n1 d-none d-lg-block">
      <img class="max-w-300px w-100" src="assets/images/dog-vector.png" alt="footer vector">
    </div>
    <div class="container">
      <div class="row justify-content-center mb-lg-20 mb-md-15 mb-10 pt-10 pt-md-0">
        <div class="col-xl-7 col-lg-9 text-center">
          <div class=" mb-lg-6 mb-4">
            <span class="text-h1 fw-normal mb-lg-3 mb-2">Subscribe Our Newsletter</span>
            <span class="text-n20">Get the latest deals and offers right to your inbox.</span>
          </div>
          <form action="#" class="px-xl-15 px-lg-10 px-md-8 px-md-6">
            <div class="d-flex align-items-center justify-content-center gap-3 border n20-border bg-n0 radius-pill p-lg-2 p-1 ps-lg-6 ps-4">
              <input type="email" placeholder="Enter your email..."
                     class="w-100 bg-transparent border-0 outline-0">
              <button type="submit"
                      class="btn-secondary border-0 text-n20 fw-semibold text-uppercase font-instrument">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-between g-6 pb-lg-20 pb-md-15 pb-10">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-logo mb-lg-6 mb-4">
            <a href="index.html">
              <img class="w-100" src="assets/images/logo.png" alt="footer logo">
            </a>
          </div>
          <p class="text-n20 fw-normal mb-lg-6 mb-4">
            PetPath offers exceptional pet care services including grooming, boarding, and Our dedicated
            team.
          </p>
          <ul class="d-flex align-items-center gap-lg-2 gap-1">
            <li>
              <a href="#" class="icon-40px border n20-border text-xl box-style box-secondary">
                <i class="ph-fill ph-facebook-logo"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icon-40px border n20-border text-xl box-style box-secondary">
                <i class="ph-fill ph-twitter-logo"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icon-40px border n20-border text-xl box-style box-secondary">
                <i class="ph-fill ph-instagram-logo"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icon-40px border n20-border text-xl box-style box-secondary">
                <i class="ph-fill ph-youtube-logo"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-auto">
          <div class="footer-menu">
            <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Pages</h5>
            <ul class="d-grid gap-lg-4 gap-2">
              <li>
                <a href="index.html"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Home</a>
              </li>
              <li>
                <a href="about-us.html"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">About </a>
              </li>
              <li>
                <a href="services.html"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Services</a>
              </li>
              <li>
                <a href="team.html" class="text-n20 fw-normal hover-text-secondary hover-underline">Team</a>
              </li>
              <li>
                <a href="blogs.html"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-auto">
          <div class="footer-menu">
            <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Contact Info</h5>
            <ul class="d-grid gap-lg-4 gap-2">
              <li>
                <a href="#"
                   class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline">
                  <span class="text-xl"><i class="ph ph-map-pin"></i></span>
                  California L.A 57867
                </a>
              </li>
              <li>
                <a href="#"
                   class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline">
                  <span class="text-xl"><i class="ph ph-phone-call"></i></span>
                  (808) 555-0111
                </a>
              </li>
              <li>
                <a href="#"
                   class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline">
                  <span class="text-xl"><i class="ph ph-envelope-open"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="working-time-card p-xl-10 p-lg-8 p-md-6 p-4 radius-20 bg-secondary border n20-border">
            <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Working Hours</h5>
            <ul class="d-grid gap-lg-4 gap-2">
              <li class="d-flex align-items-center justify-content-between gap-2">
                <span class="text-n20 fw-normal">Mon - Fri:</span>
                <span class="text-n20 fw-medium">7am - 6pm</span>
              </li>
              <li class="d-flex align-items-center justify-content-between gap-2">
                <span class="text-n20 fw-normal">Saturday:</span>
                <span class="text-n20 fw-medium">9am - 4pm</span>
              </li>
              <li class="d-flex align-items-center justify-content-between gap-2">
                <span class="text-n20 fw-normal">Sunday:</span>
                <span class="text-n20 fw-medium text-primary">Closed</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span class="d-block border-bottom n100-border1"></span>
      <div class="py-lg-6 py-4 text-center">
        <span class="text-n20 fw-normal">
          © 2022 - <span class="currentYear"></span> | Allrights reserved by
          <a href="https://themeforest.net/user/uiaxis"
             class="fw-semibold text-decoration-underline hover-text-secondary">uiaxis</a>
        </span>
      </div>
    </div>
