<!-- footer -->
<div class="bg-primary2">
  <!-- footer section start -->
  <footer class="footer-section pt-120">
    <div class="bg-banner position-absolute bottom-0 start-0 w-100 h-100 z-n1 d-none d-sm-block">
      <img class="w-100 h-100" src="assets/images/footer-bg.png" alt="bg banner">
    </div>
    <div class="position-absolute top-40 left-0 translate-middle-y z-n1 d-none d-lg-block">
      <img class="max-w-200px w-100" src="assets/images/cat-vector-2.png" alt="footer vector">
    </div>
    <div class="position-absolute top-15 right-0 z-n1 d-none d-lg-block">
      <img class="max-w-300px w-100 opacity-25" src="assets/images/dog-vector.png" alt="footer vector">
    </div>
    <div class="container">

      <div class="row justify-content-between g-6 pb-lg-20 pb-md-15 pb-10">

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-logo mb-lg-6 mb-4">
            <a routerLink="/">
              <img class="w-100" src="assets/images/logo.png" alt="footer logo">
            </a>
          </div>
          <p class="text-n20 fw-normal mb-lg-6 mb-4">
            PetPath offers exceptional pet care services including grooming, boarding, and Our dedicated
            team.
          </p>
        </div>

        <div class="col-auto">
          <div class="footer-menu">
            <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Pages</h5>
            <ul class="d-grid gap-lg-4 gap-2">
              <li>
                <a routerLink="/"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Home</a>
              </li>

              <li>
                <a routerLink="/animals"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Adopt a friend</a>
              </li>
              <li>
                <a routerLink="/allposts"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">Our Community</a>
              </li>
              <li>
                <a routerLink="/aboutus"
                   class="text-n20 fw-normal hover-text-secondary hover-underline">About </a>
              </li>
              <li>
                <a routerLink="/contactus" class="text-n20 fw-normal hover-text-secondary hover-underline">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-auto">
          <div class="footer-menu">
            <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Contact Info</h5>
            <ul class="d-grid gap-lg-4 gap-2">
              <li>
                <a href="https://maps.app.goo.gl/UctbbehmZ4MAC6Fe7" class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline" target="_blank" rel="noopener noreferrer">
                  <span class="text-xl"><i class="ph ph-map-pin"></i></span>
                  HR3X+2VM, Al-Sheikh Khalil St., Irbid
                </a>
              </li>

              <li>
                <a href="tel:+1234567890" target="_blank" rel="noopener noreferrer"
                   class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline">
                  <span class="text-xl"><i class="ph ph-phone-call"></i></span>
                  +1 234-567-890
                </a>
              </li>
              <li>
                <a href="mailto:example@gmail.com" target="_blank" rel="noopener noreferrer"
                   class="d-flex align-items-center gap-2 text-n20 fw-normal hover-text-secondary hover-underline">
                  <span class="text-xl"><i class="ph ph-envelope-open"></i></span>
                  example&#64;gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>



      </div>
      <span class="d-block border-bottom n100-border1"></span>
      <div class="py-lg-6 py-4 text-center">
        <span class="text-n20 fw-normal">
          © 2024 | Allrights reserved
        </span>
      </div>
    </div>




    <!--<div class="col-xl-3 col-lg-4 col-md-6">
      <div class="working-time-card p-xl-10 p-lg-8 p-md-6 p-4 radius-20 bg-secondary border n20-border">
        <h5 class="text-n20 fw-normal mb-lg-6 mb-4">Working Hours</h5>
        <ul class="d-grid gap-lg-4 gap-2">
          <li class="d-flex align-items-center justify-content-between gap-2">
            <span class="text-n20 fw-normal">Mon - Fri:</span>
            <span class="text-n20 fw-medium">7am - 6pm</span>
          </li>
          <li class="d-flex align-items-center justify-content-between gap-2">
            <span class="text-n20 fw-normal">Saturday:</span>
            <span class="text-n20 fw-medium">9am - 4pm</span>
          </li>
          <li class="d-flex align-items-center justify-content-between gap-2">
            <span class="text-n20 fw-normal">Sunday:</span>
            <span class="text-n20 fw-medium text-primary">Closed</span>
          </li>
        </ul>
      </div>
    </div>-->
