  <!-- main start -->
<main>
  <!-- inner hero section start -->
  <section class="inner-hero-section pt-xxl-0 pt-xs-15 pt-20 pt-120 bg-primary2">
    <div class="container position-relative">
      <div class="row g-6 justify-content-between align-items-center">
        <div class="col-sm-6">
          <span class="mb-3 text-h1 text-n20">About Us</span>
          <ul class="breadcrumb d-inline-flex align-items-center justify-content-center gap-lg-2 gap-1">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">About</a></li>
          </ul>
        </div>
        <div class="col-xl-5 col-sm-6 me-auto d-none d-sm-block">
          <div class=" inner-hero-banner">
            <img class="w-100" src="assets/images/inner-hero-banner.png" alt="inner hero banner">
          </div>
        </div>
      </div>
      <div class="pows position-absolute top-60 right-n10 translate-middle-y z-n1 d-none d-sm-block">
        <img class="w-100" src="assets/images/pows.png" alt="pow">
      </div>
    </div>
  </section>
  <!-- inner hero section end -->
  <!-- about us section start -->
  <section class="about-us-section pt-120 pb-120">
    <div class="container position-relative">
      <div class="two-star position-absolute top-0 end-0">
        <img class="w-100" src="assets/images/two-star.png" alt="two star">
      </div>
      <div class="row g-6 justify-content-between align-items-center">
        <div class="col-lg-5 order-last order-lg-first">
          <div class="position-relative">
            <div class="sun-vector position-absolute top-0 start-0 translate-middle-x">
              <img class="w-100" src="assets/images/sun-vector.png" alt="vector">
            </div>
            <div class="about-us-banner position-relative">
              <div class="position-absolute top-0 end-0 mt-20 z-1">
                <img class="w-100" src="assets/images/rain-drop.png" alt="rain drop">
              </div>
              <div>
                <img class="w-100 h-100" src="assets/images/about-section-banner.png"
                     alt="hero banner">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <span class="d-block text-lg fw-medium mb-4">ABOUT US</span>
          <h2 class="text-animation-word text-h1 text-n20 fw-normal mb-lg-6 mb-4">
            Our Journey to PetPath: A Passion for Pets and Community
          </h2>
          <p class="text-base text-n10 mb-lg-8 mb-md-6 mb-4">
            Welcome to PetPath! We are dedicated to making the pet adoption process easy and accessible for everyone. Our platform connects loving families with pets in need of a home, and our vibrant community space allows adopters and pet lovers to share stories, offer support, and celebrate the joy of pet ownership. At PetPath, we believe every pet deserves a chance to find their forever home, and every story deserves to be shared.
          </p>
          <ul class="d-flex gap-xl-6 gap-4 flex-wrap list-w-50 mb-lg-10 mb-md-8 mb-6">
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Simplifying the adoption process
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Building a supportive community of pet lovers
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Connecting pets with loving homes
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Sharing heartwarming adoption stories
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Offering resources and guidance for new pet parents
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Promoting responsible pet ownership
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vector-white banner-element elementRight position-absolute bottom-0 z-n1">
      <img class="w-100" src="assets/images/dog-vector-white.png" alt="dog vector">
    </div>
  </section>
  <!-- about us section end -->
  <!-- core value section start -->
  <section class="core-value-section pt-120 pb-120 bg-secondary3">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
        <div class="col-xl-6 col-lg-8 text-center">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">CORE VALUES</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            The Core Values That Drive Everything
          </h2>
        </div>
      </div>
      <div class="row g-6 mb-lg-15 mb-md-10 mb-8 justify-content-center justify-content-md-start">
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="core-value-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-secondary overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/sharing-love.png" alt="icon">
            </div>
            <a class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">Compassion</a>
            <p class="text-n20">
              We believe every animal deserves a loving home. Our passion drives us to connect pets with caring families, making sure every step of the adoption process is filled with empathy and understanding.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="core-value-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-primary overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/safety.png" alt="icon">
            </div>
            <a class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">Community</a>
            <p class="text-n20">
              We create a supportive space where adopters, pet owners, and animal lovers can share their stories, experiences, and advice. Together, we build a network that cares for both pets and people.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="core-value-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-secondary2 overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/like-star.png" alt="icon">
            </div>
            <a class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">Transparency</a>
            <p class="text-n20">
              We ensure a clear, trustworthy adoption process, providing accurate information and support every step of the way. With us, you’ll always know what to expect as you welcome a new pet into your life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core value section end -->
  <!-- why choose us section -->
  <!-- why choose us section start -->
  <section class="choose-us-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8 position-relative">
        <div class="col-xl-6 col-lg-8 text-center px-lg-0">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">WHY CHOOSE US</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            PetPath simplifies pet adoption and fosters community connections
          </h2>
        </div>
        <div class="icon-80px position-absolute start-0 top-100">
          <img class="w-100" src="assets/images/spiral-1.png" alt="spiral shape">
        </div>
        <div class="icon-80px position-absolute end-0 top-100">
          <img class="w-100" src="assets/images/spiral-2.png" alt="spiral shape">
        </div>
      </div>

      <div class="row gy-6 gy-md-0 position-relative d-center justify-content-start justify-content-md-center">
        <div class="col-md-3 d-center order-1 order-md-0">
          <div class="items-wrapper start-0 d-center flex-column gap-lg-20 gap-md-10 gap-6 text-end">
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area text-start text-md-end order-1 order-md-0">
                <h4 class="font-playfair mb-3">Community of Pet Lovers</h4>
                <p>
                  Become part of a vibrant community where adopters share experiences, support each other, and celebrate the joy of giving pets a second chance.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-1.png" alt="Icon">
                </span>
              </div>
            </div>
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area text-start text-md-end order-1 order-md-0">
                <h4 class="font-playfair mb-3">Seamless Adoption Process</h4>
                <p>
                  We simplify the journey to adoption, offering guidance at every stage to ensure that finding your perfect furry friend is as easy as possible.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-2.png" alt="Icon">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 position-relative z-n1">
          <div class="icon-80px position-absolute top-0 start-0 d-none d-lg-block">
            <img class="w-100" src="assets/images/bright-star.png" alt="bright start">
          </div>
          <div class="icon-100px position-absolute top-5 end-0 d-none d-lg-block">
            <img class="w-100" src="assets/images/rain-drop.png" alt="bright start">
          </div>
          <div class="choose-us-area cus-z-1 d-none d-md-block">
            <img src="assets/images/why-choose-us-banner.png" class="w-100 rounded-pill" alt="Icon">
          </div>
        </div>
        <div class="col-md-3 d-center">
          <div class="items-wrapper end-0 d-center flex-column gap-lg-20 gap-md-10 gap-6">
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area order-1">
                <h4 class="font-playfair mb-3">Verified and Trustworthy Listings</h4>
                <p>
                  Our platform only features verified pets and genuine adoption opportunities, so you can adopt with confidence, knowing every match is real.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-3.png" alt="Icon">
                </span>
              </div>
            </div>
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area order-1">
                <h4 class="font-playfair mb-3">Resources for New Pet Owners</h4>
                <p>
                  Access expert advice, care tips, and support as you welcome your new pet home—because a great start sets the foundation for a great life together."
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-4.png" alt="Icon">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vector-white banner-element elementRight position-absolute bottom-0 z-n1 d-none d-md-block">
        <img class="w-100" src="assets/images/cat-vector.png" alt="dog vector">
      </div>
    </div>
  </section>
  <!-- why choose us section end -->
  <!-- contact section -->
  <!-- contact section start -->
  <section class="contact-form-section pb-120" style="background-color: #FFE9D2; padding-top: 2em">
    <div class="container">
      <div class="row g-6 justify-content-between">
        <div class="col-xl-5 col-lg-6 order-last order-lg-first">
          <div class="contact-form-banner radius-16">
            <img class="w-100 radius-16" src="https://localhost:7001/api/Images/getImages/contact-form-banner.png" alt="contact form banner" style="filter: drop-shadow(0 0 0.5rem gray)">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-form">
            <h1 class="text-n20 mb-lg-10 mb-md-8 mb-6">Need Help? Contact Us</h1>


            <form class="d-grid gap-lg-5 gap-3" #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm.value)">


              <div class="d-lg-flex d-grid align-items-center justify-content-lg-between gap-lg-6 gap-4">

                <div class="d-grid gap-lg-3 gap-2 w-100">
                  <label for="name">Full Name <span class="text-primary">*</span></label>
                  <input type="text" id="name" placeholder="Your Name" name="Name" required ngModel
                         class="px-xl-8 px-lg-6 px-md-4 px-3 py-lg-4 py-md-3 py-2 border n20-1-border radius-pill focus-primary w-100">
                </div>

                <div class="d-grid gap-lg-3 gap-2 w-100">
                  <label for="email">Email <span class="text-primary">*</span></label>
                  <input type="email" id="email" placeholder="Your Email" name="Email" required ngModel #emailInput="ngModel"
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                         class="px-xl-8 px-lg-6 px-md-4 px-3 py-lg-4 py-md-3 py-2 border n20-1-border radius-pill focus-primary w-100">

                  <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
                    <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
                    <small *ngIf="emailInput.errors?.['pattern']">Please enter a valid email address.</small>
                  </div>
                </div>

              </div>

              <div class="d-lg-flex d-grid align-items-center justify-content-lg-between gap-lg-6 gap-4">

                <div class="d-grid gap-lg-3 gap-2 w-100">
                  <label for="subject">Subject <span class="text-primary">*</span></label>
                  <input type="text" id="subject" placeholder="Subject" name="Subject" required ngModel
                         class="px-xl-8 px-lg-6 px-md-4 px-3 py-lg-4 py-md-3 py-2 border n20-1-border radius-pill focus-primary w-100">
                </div>

              </div>

              <div class="d-grid gap-lg-3 gap-2 w-100">

                <label for="message">Leave us a message<span class="text-primary">*</span></label>
                <textarea id="message" placeholder="Please type your message here..." name="Message" required ngModel
                          class="px-xl-8 px-lg-6 px-md-4 px-3 py-lg-4 py-md-3 py-2 border n20-1-border radius-16 focus-primary w-100"
                          rows="6"></textarea>

              </div>

              <div class="mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send Message</button>
              </div>


            </form>



          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section end -->
  <!-- team section -->
  <!-- team section start  -->
  <section class="team-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8 position-relative">
        <div class="col-lg-6 text-center px-lg-0">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">TEAM MEMBERS</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            Meet Our Team
          </h2>
        </div>
      </div>
      <div class="row g-6 mb-lg-15 mb-md-10 mb-8 justify-content-center justify-content-around">
        <div class="col-lg-4 col-md-6 col-xs-10" *ngFor="let member of teamMembers">
          <div class="team-card radius-pill position-relative shake-animation overflow-hidden">
            <a href="team-details.html" class="team-member-img d-block">
              <div class="shake-thumb">
                <img src="https://localhost:7001/api/Images/getImages/{{ member.image }}" alt="{{ member.name }}'s image'" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="https://localhost:7001/api/Images/getImages/{{ member.image }}" alt="{{ member.name }}'s image'" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <p class="text-n20 text-h5 hover-text-n0">{{ member.name }}</p>
                  <span class="text-n20 fw-normal">{{ member.position }}</span>
                  <span class="text-n20 fw-normal text-wrap description">{{ member.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="text-center">
        <a routerLink="/team" class="btn-primary text-xl">More Members</a>--> <!-- Updated to lead to the team page -->
      <!--</div>-->
    </div>
  </section>
  <!-- team section end  -->


</main>
<!-- main end -->
