<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


          <li>
            <a routerLink="/dashboard/AdminAdoption" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Animal Adoption</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/AddAdminAdoption" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Admin Adoption</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/allpostadmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Posts</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/notacceptpostadmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Not Accepted Posts</span>
            </a>
          </li>

          <li>
            <a routerLink="/dash/ContactAdmin" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Contact</span>
            </a>
          </li>

          <li>
            <a routerLink="/dash/TestimonialAdmin" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Testimonial</span>
            </a>
          </li>

        

         


        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">


      <router-outlet></router-outlet>
    </div>
  </div>
</div>
