<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <br>

          <li>
            <a routerLink="/dashboard/allusers" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Site Users</span>
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/AdminAdoption" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Admin Adoption</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/AddAdminAdoption" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Admin Adoption</span>
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/AdminAdoption" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Admin Adoption</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/allpostadmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Posts</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/notacceptpostadmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Not Accepted Posts</span>
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/allcontacts" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Contacts</span>
            </a>
          </li>






          <!-- example on drop down -->
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-0 align-middle" href="#" id="dropdownA" role="button" (click)="toggleDropdown($event)" aria-expanded="false">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">A</span>
            </a>
            <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }" aria-labelledby="dropdownA">
              <li><a class="dropdown-item" routerLink="/dashboard/item1">1</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/item2">2</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/item3">3</a></li>
            </ul>
          </li>-->

        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">


      <router-outlet></router-outlet>
    </div>
  </div>
</div>
