<!-- preloader -->
<!-- preloader  -->











<!-- main start -->
<main>
  <!-- hero section start -->
  <section class="hero-section pt-120 pb-120">
    <div class="bg-banner position-absolute top-0 start-0 w-100 h-100 z-n1">
      <img class="w-100 h-100" src="assets/images/hero-bg.png" alt="bg banner">
    </div>
    <div class="container mt-10">
      <div class="row g-6 justify-content-between align-items-center">
        <div class="col-xl-6 col-lg-7 px-lg-0">
          <span class="d-block text-lg fw-medium mb-4">WELCOME TO PETPATH</span>
          <h2 class="text-animation-word display-two text-n20 fw-normal mb-lg-6 mb-4">
            Adopt, Share, and Connect on PetPath!
          </h2>
          <p class="text-base text-n10 mb-lg-8 mb-md-6 mb-4">
            Connecting pets with loving homes while building a community of animal lovers
          </p>
          <a routerLink="/animals" class="btn-primary text-xl">
            Adopt a Pet
          </a>
          <a routerLink="/allposts" class="btn-secondary text-xl">
            Join the Community
          </a>
        </div>
        <div class="col-lg-5 px-lg-0">
          <div class="hero-banner position-relative overflow-visible">
            <img src="assets/images/hero-banner.png" alt="hero image">
            <div class="hero-thumb banner-element elementBottom rotateLeft position-absolute start-0">
              <img class="w-100" src="assets/images/hero-thumb.png" alt="hero thumb">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero section end -->
  <!-- service section start -->
  <section class="service-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
        <div class="col-xl-6 col-lg-8 text-center">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">Our Services</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            Connecting Pets and People Together
          </h2>
        </div>
      </div>

      <div class="row g-6 mb-lg-15 mb-md-10 mb-8 justify-content-center justify-content-around">

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="service-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-secondary3 overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/service-icon-1.png" alt="dog icon">
            </div>
            <a routerLink="/animals"
               class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">
              Adoption
            </a>
            <p class="text-n20">
              Browse through a wide variety of pets looking for a loving home. Our platform connects you directly with shelters and current pet owners, making the adoption process seamless and transparent
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="service-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-primary overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/service-icon-2.png" alt="dog icon">
            </div>
            <a routerLink="/allposts"
               class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">
              Our Community
            </a>
            <p class="text-n20">
              Join a vibrant community of pet lovers where you can share your stories, ask for advice, and connect with others who share your passion for animals.
            </p>
          </div>
        </div>

        <!--<div class="col-lg-4 col-md-6 col-xs-10">
          <div class="service-card position-relative text-center py-xl-20 py-lg-15 py-sm-12 py-18 px-xl-10 px-sm-8 px-10 border n20-border radius-circle bg-secondary2 overflow-hidden">
            <div class="dog-paws position-absolute end-0 top-0 me-10 mt-10">
              <img class="w-100" src="assets/images/dog-paws.png" alt="">
            </div>
            <div class="icon-80px mx-auto radius-0 mb-lg-8 mb-6">
              <img class="w-100" src="assets/images/service-icon-3.png" alt="dog icon">
            </div>
            <a href="service-details.html"
               class="text-animation-line text-h3 text-n20 font-otomanopee fw-normal mb-4 hover-underline">
              Pet
              Grooming
            </a>
            <p class="text-n20">
              Keep your pets looking their best with our full-service grooming. From baths to nail
              trims, our expert groomers.
            </p>
          </div>
        </div>-->

      </div>

      <!--<div class="text-center">
        <a href="services.html" class="btn-primary text-xl">
          More Services
          <span><i class="ph ph-arrow-up-right"></i></span>
        </a>
      </div>-->

      <div class="vector-white banner-element elementLeft position-absolute bottom-0 z-n1">
        <img class="w-100" src="assets/images/dog-vector-white.png" alt="dog vector">
      </div>
    </div>
  </section>
  <!-- services section end -->
  <!-- about us section start -->
  <section class="about-us-section pt-120 pb-120 bg-secondary">
    <div class="container position-relative">
      <div class="two-star position-absolute top-0 right-xxl-n10 right-0">
        <img class="w-100" src="assets/images/two-star.png" alt="two star">
      </div>
      <div class="row g-6 justify-content-between align-items-center">
        <div class="col-lg-5 order-last order-lg-first">
          <div class="position-relative">
            <div class="sun-vector position-absolute top-0 start-0 translate-middle-x">
              <img class="w-100" src="assets/images/sun-vector.png" alt="vector">
            </div>
            <div class="about-us-banner position-relative">
              <div class="position-absolute top-0 end-0 mt-20 z-1">
                <img class="w-100" src="assets/images/rain-drop.png" alt="rain drop">
              </div>
              <div>
                <img class="w-100 h-100" src="assets/images/about-section-banner.png"
                     alt="hero banner">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <span class="d-block text-lg fw-medium mb-4">ABOUT US</span>
          <h2 class="text-animation-word text-h1 text-n20 fw-normal mb-lg-6 mb-4">
            Our Journey to PetPath: A Passion for Pets and Community
          </h2>
          <p class="text-base text-n10 mb-lg-8 mb-md-6 mb-4">
            Welcome to PetPath! We are dedicated to making the pet adoption process easy and accessible for everyone. Our platform connects loving families with pets in need of a home, and our vibrant community space allows adopters and pet lovers to share stories, offer support, and celebrate the joy of pet ownership. At PetPath, we believe every pet deserves a chance to find their forever home, and every story deserves to be shared.
          </p>
          <ul class="d-flex gap-xl-6 gap-4 flex-wrap list-w-50 mb-lg-10 mb-md-8 mb-6">
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Simplifying the adoption process
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Building a supportive community of pet lovers
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Connecting pets with loving homes
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Sharing heartwarming adoption stories
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Offering resources and guidance for new pet parents
            </li>
            <li class="d-flex gap-lg-2 gap-1 fw-medium text-n20 font-instrument">
              <span class="text-xl text-primary">
                <i class="ph-fill ph-check-circle"></i>
              </span>
              Promoting responsible pet ownership
            </li>
          </ul>
          <a routerLink="/" class="btn-primary text-xl">
            More About Us
          </a>
        </div>

      </div>
    </div>
  </section>
  <!-- about us section end -->



  <!-- why choose us section -->
  <!-- why choose us section start -->
  <section class="choose-us-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8 position-relative">
        <div class="col-xl-6 col-lg-8 text-center px-lg-0">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">WHY CHOOSE US</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            PetPath simplifies pet adoption and fosters community connections
          </h2>
        </div>
        <div class="icon-80px position-absolute start-0 top-100">
          <img class="w-100" src="assets/images/spiral-1.png" alt="spiral shape">
        </div>
        <div class="icon-80px position-absolute end-0 top-100">
          <img class="w-100" src="assets/images/spiral-2.png" alt="spiral shape">
        </div>
      </div>

      <div class="row gy-6 gy-md-0 position-relative d-center justify-content-start justify-content-md-center">
        <div class="col-md-3 d-center order-1 order-md-0">
          <div class="items-wrapper start-0 d-center flex-column gap-lg-20 gap-md-10 gap-6 text-end">
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area text-start text-md-end order-1 order-md-0">
                <h4 class="font-playfair mb-3">Community of Pet Lovers</h4>
                <p>
                  Become part of a vibrant community where adopters share experiences, support each other, and celebrate the joy of giving pets a second chance.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-1.png" alt="Icon">
                </span>
              </div>
            </div>
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area text-start text-md-end order-1 order-md-0">
                <h4 class="font-playfair mb-3">Seamless Adoption Process</h4>
                <p>
                  We simplify the journey to adoption, offering guidance at every stage to ensure that finding your perfect furry friend is as easy as possible.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-2.png" alt="Icon">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 position-relative z-n1">
          <div class="icon-80px position-absolute top-0 start-0 d-none d-lg-block">
            <img class="w-100" src="assets/images/bright-star.png" alt="bright start">
          </div>
          <div class="icon-100px position-absolute top-5 end-0 d-none d-lg-block">
            <img class="w-100" src="assets/images/rain-drop.png" alt="bright start">
          </div>
          <div class="choose-us-area cus-z-1 d-none d-md-block">
            <img src="assets/images/why-choose-us-banner.png" class="w-100 rounded-pill" alt="Icon">
          </div>
        </div>
        <div class="col-md-3 d-center">
          <div class="items-wrapper end-0 d-center flex-column gap-lg-20 gap-md-10 gap-6">
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area order-1">
                <h4 class="font-playfair mb-3">Verified and Trustworthy Listings</h4>
                <p>
                  Our platform only features verified pets and genuine adoption opportunities, so you can adopt with confidence, knowing every match is real.
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-3.png" alt="Icon">
                </span>
              </div>
            </div>
            <div class="single-area d-flex align-items-md-center gap-2 gap-md-4 justify-content-end">
              <div class="content-area order-1">
                <h4 class="font-playfair mb-3">Resources for New Pet Owners</h4>
                <p>
                  Access expert advice, care tips, and support as you welcome your new pet home—because a great start sets the foundation for a great life together."
                </p>
              </div>
              <div class="img-area box-style box-primary p-lg-4 p-2">
                <span class="icon-area d-block p-lg-6 p-md-4 p-2 radius-circle">
                  <img class="transition w-100" src="assets/images/choose-us-icon-4.png" alt="Icon">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vector-white banner-element elementRight position-absolute bottom-0 z-n1 d-none d-md-block">
        <img class="w-100" src="assets/images/cat-vector.png" alt="dog vector">
      </div>
    </div>
  </section>
  <!-- why choose us section end -->

  <!-- blogs section start -->
  <section class="blog-section pt-120 pb-120 bg-primary2">
    <div class="container">
      <div class="row g-6 align-items-end justify-content-between mb-lg-15 mb-md-10 mb-8">
        <div class="col-lg-6">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">BLOGS</span>
          <h2 class="text-animation-word text-h1 font-otomanopee text-n20 fw-normal">
            See Our Family Members Stories
          </h2>
        </div>
        <div class="col-auto">
          <a routerLink="/allposts" class="btn-primary text-xl">
            More Stories
          </a>
        </div>
      </div>

      <div class="row g-6 justify-content-center justify-content-md-start">

        <div class="col-lg-4 col-md-6 col-xs-10" *ngFor="let post of leatestArray">
          <div class="blog-card" routerLink="/postcomments/{{post.postId}}">
            <div class="blog-img scale-animation position-relative radius-20 overflow-hidden mb-lg-7 mb-lg-5 mb-3">
              <img class="w-100" src="https://localhost:7001{{post.storyPhoto}}" alt="blog image" width="100%" height="300">
              <div class="position-absolute end-0 bottom-0 mb-lg-6 mb-4 me-lg-6 me-4">
                <a routerLink="/postcomments/{{post.postId}}" class="btn-primary n0-border text-n0 font-instrument">{{post.storyTitle}}</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="d-flex align-items-center gap-xl-3 gap-2 mb-lg-3 mb-2">
                <div class="d-flex align-items-center gap-2">
                  <span class="text-lg text-primary"><i class="ph ph-calendar-blank"></i></span>
                  <span class="text-n20 fw-normal">{{post.storyDate | date: 'yyyy/MM/dd hh:mm a'}}</span>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="text-lg text-primary"><i class="ph ph-user"></i></span>
                  <span class="text-n20 fw-normal">{{post.user.fullName}}</span>
                </div>
              </div>

              <p class="text-n10 fw-normal">
                {{post.storyContent}}
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- blogs section end -->
  <!-- team section -->
  <!-- team section start  -->
  <!--<section class="team-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8 position-relative">
        <div class="col-lg-6 text-center px-lg-0">
          <span class="d-block text-primary text-uppercase mb-lg-4 mb-3">TEAM MEMBERS</span>
          <h2 class="text-animation-word text-h1 text-center font-otomanopee text-n20 fw-normal">
            Meet Our Team
          </h2>
        </div>
      </div>
      <div class="row g-6 mb-lg-15 mb-md-10 mb-8 justify-content-center justify-content-around">

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-member-1.jpg" alt="Esraa Odat" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-member-1.jpg" alt="Esraa Odat" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Esraa Odat
                  </a>
                  <span class="text-n20 fw-normal">Scrum Master</span>
                  <span class="text-n20 fw-normal">A dedicated Scrum Master with a passion for agile methodologies and team collaboration.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-member-2.jpg" alt="Batool Khazali" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-member-2.jpg" alt="Batool Khazali" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Batool Khazali
                  </a>
                  <span class="text-n20 fw-normal">Product Owner</span>
                  <span class="text-n20 fw-normal">An experienced Product Owner who excels at defining product vision and prioritizing tasks.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Rahaf Al-Shorman" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Rahaf Al-Shorman" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Rahaf Al-Shorman
                  </a>
                  <span class="text-n20 fw-normal">Web Developer</span>
                  <span class="text-n20 fw-normal">A skilled Web Developer with expertise in creating responsive and user-friendly applications.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Mostafa Al-Momani" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Mostafa Al-Momani" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Mostafa Al-Momani
                  </a>
                  <span class="text-n20 fw-normal">Web Developer</span>
                  <span class="text-n20 fw-normal">A passionate Web Developer who specializes in front-end technologies and enjoys solving complex problems.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Malik" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-member-3.jpg" alt="Malik" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Malik
                  </a>
                  <span class="text-n20 fw-normal">Web Developer</span>
                  <span class="text-n20 fw-normal">A creative Web Developer focused on building innovative solutions and enhancing user experiences.</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-xs-10">
          <div class="team-card radius-pill position-relative overflow-hidden">
            <a class="team-member-img shake-animation d-block">
              <div class="shake-thumb">
                <img src="assets/images/team-1.png" alt="team member" class="w-100" />
              </div>
              <div class="shake-thumb">
                <img src="assets/images/team-1.png" alt="team member" class="w-100" />
              </div>
            </a>
            <div class="team-member-info w-100 d-center py-lg-8 py-6 position-absolute bottom-0 start-0 bg-secondary3 z-1">
              <div class="text-center">
                <div class="d-grid gap-2 mb-lg-4 mb-2">
                  <a class="text-n20 text-h5 hover-text-n0">
                    Pearlie
                    Bowman
                  </a>
                  <span class="text-n20 fw-normal">Veterinarians</span>
                  <span class="text-n20 fw-normal">Veterinarians</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>-->
  <!-- team section end  -->



</main>
<!-- main end -->
